@if (user) {

<div class="profil">

  <header class="profil-header">
    <h1>Profil utilisateur</h1>
  </header>

  <section class="profil-form">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="profile-form" novalidate>

      <div class="form-field">
        <label for="username">Nom d'utilisateur</label>
        <input id="username" type="text" formControlName="username" class="custom-input" autocomplete="username">
      </div>

      <div class="form-field">
        <label for="email">Adresse e-mail</label>
        <input id="email" type="email" formControlName="email" class="custom-input" autocomplete="email">
      </div>

      <div class="form-field">
        <label for="password">Nouveau mot de passe</label>
        <input id="password" type="password" formControlName="password" class="custom-input"
          autocomplete="new-password">
      </div>

      <div class="form-actions">
        <button type="submit" class="button-primary" [disabled]="userForm.invalid">
          Sauvegarder
        </button>
      </div>

    </form>

    <!-- ERROR -->
    @if (onError) {
    <div class="error-message">
      <p>{{ errorMessage || "Une erreur est survenue" }}</p>
    </div>
    }

  </section>

  <hr>

  <section class="subscriptions">
    <h2>Abonnements</h2>

    <div class="topic-list">
      @for (topic of user.topics; track topic.id) {
      <div class="topic-card">

        <div class="topic-title">
          <h3>{{ topic.name }}</h3>
        </div>

        <div class="topic-description">
          <p>{{ topic.description }}</p>
        </div>

        <div class="topic-actions">
          <button class="button-primary" (click)="topic.id && unsubscribe(topic.id)">
            Se désabonner
          </button>
        </div>

      </div>
      }
    </div>
  </section>

</div>

}